<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <title>Myblog</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>

<body>

<header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="/posts">Myblog</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/newpost">Novo post</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<main>
    <div class="container" style="width: 60%; padding-bottom: 30px;">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#"><a href="/posts">Posts</a></a></li>
            </ol>
        </nav>

        <article>
            <h1 class="card-title" style="font-weight: bold; margin-bottom: 20px;"><span th:text="${posts.title}"></span></h1>
            <p class="card-subtitle mb-2 text-muted">
                <i class="material-icons">person_outline</i>
                <span th:text="${posts.author}"></span>
                <br>
                <i class="material-icons">date_range</i>
                <span th:text="${posts.date}"></span>
            </p>
            <section>
                <p class="card-text" style="margin-top: 40px;"><span th:utext="${posts.text}"></span></p>
            </section>
        </article>
        </article>
    </div>
</main>

</body>
</html>